* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color: #04AA6D;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #555 /* Light Black */
  }

ul{
    list-style: none;
}

body {
    background-image: url(aberto.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color:whitesmoke;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
    
}
header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg,#9572fC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;

    display: flex;
    padding: 4px;
}

header div:hover{
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;

}

section {
    color: white;
    background-image: linear-gradient(90deg,#9572fC 0%, #43E7AD 50.52%, #E2D45C 100%); 
    padding-top: 4px;
    border-radius: 10px;

    
   }


section div { /*fundo*/
   background-image: url(aberto.jpg);
   background-color: #2a2634;
   padding: 32px;
   padding-top: 24px;
   border-radius: 8px;

  
}

section h2 { /*Titulo*/
   letter-spacing: -0.47px;
   color:#121214;

   
}

section p { 
   letter-spacing: -0.18px;
   color: #121214;
   

}

section ul{ 
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   margin-top: 24px;
   border-radius: 10px;

}

.Book-list-Bel img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;

}

.Book-list-Bel img:hover{
    transform: scale(1.1);
}

.social-list img:hover{
    transform: scale(1.1);
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;

}

main section {
    animation: fromBottom .7s backwards;
}       

main section:nth-child(1){
    animation-delay: 0;
}
main section:nth-child(2){
    animation-delay: .4s;

}
main section:nth-child(3){
    animation-delay: .8s;

}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}