* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


body {
    background-image: url(aberto.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color:whitesmoke;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
    
}
header div{
    width: 100px;
    margin: auto;
    background-image: linear-gradient(90deg,#9572fC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;

    display: flex;
    padding: 4px;
    

}

header div:hover{
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;

}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;


}

section {
    color: #121214;
    background-image: linear-gradient(90deg,#9572fC 0%, #43E7AD 50.52%, #E2D45C 100%); 
    padding-top: 4px;
    border-radius: 10px;
    
   }

section p {
    color: #121214;

}   

section h2 {

    color: #121214;

}

section h3 {
    

    color: #121214;
}




section div { /*fundo sobre*/
   background-image: url(fundo.jpg);
   background-color: #2a2634;
   padding: 32px;
   padding-top: 24px;
   border-radius: 8px;
   

}
section img{
    height: auto;
    border-radius: 100%;
    border: 1px solid pink;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/* animation */

header div {
    animation: fromTop .7s .2s backwards;

}

main section {
    animation: fromBottom .7s backwards;
}       

main section:nth-child(1){
    animation-delay: 0;
}
main section:nth-child(2){
    animation-delay: .4s;

}
main section:nth-child(3){
    animation-delay: .8s;

}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}